body {
  font-family: 'Ranchers', cursive;
  letter-spacing: 1px;
}

#world {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.world-move {
  cursor: move;
}

.world-click {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
  background: none;
  display: flex;
  justify-content: space-between;
  min-width: 520px;
  margin: 0px 20px;
}

.nav-left, .nav-right {
  display: flex;
  width: 30%;
}

[class*="nav-"] li {
  margin-top: 10px;
  margin-left: 80px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[class*="nav-"] li:hover {
  cursor: pointer;
}

img {
   -webkit-filter: invert(1);
   filter: invert(1);
}

.nav-left img {
  height: 30px;
}

[class*="hover-"] {
  opacity: 0;
  transition: all 0.3s ease;
  color: black;
  background: whitesmoke;
  border-radius: 3px;
  position: absolute;
  top: 60px;
  padding: 5px;
}

.hover-portfolio {
  left: 62px;
}

.hover-linkedin {
  left: 180px;
}

.hover-github {
  left: 277px;
}

.icon-portfolio:hover .hover-portfolio  {
  opacity: 1;
}

.icon-linkedin:hover .hover-linkedin  {
  opacity: 1;
}

.icon-github:hover .hover-github  {
  opacity: 1;
}

.about-link {
  font-size: 24px;
  margin-right: 10px;
}

.about-modal {
  z-index: -5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000;
  transition: all 0.4s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-modal p {
  color: whitesmoke;
  margin: 50px;
  font-size: 32px;
  width: 500px;
}

.about-modal:hover {
  cursor: pointer;
}

.show-modal {
  z-index: 500;
  opacity: 0.95;
}

.background-blue {
  transition: all 1s ease;
  background: #1a75ff;
}

.background-black {
  background-color: #000000;
}
#night-switch {
  position: fixed;
  bottom: 60px;
  left: 180px;
  color: white;
}

#playlist {
  position: fixed;
  bottom: 60px;
  right: 200px;
  color: white;
}

#controls {
  position: fixed;
  bottom: 60px;
  right: 320px;
  color: white;
}

#night-switch:hover, #controls:hover, #playlist:hover {
  cursor: pointer;
}

.playlist-menu {
  position: fixed;
  height: 60%;
  left: 75%;
  right: 5%;
  top: 20%;
  bottom: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.controls-menu {
  position: fixed;
  height: 10%;
  left: 20%;
  right: 30%;
  bottom: 3.5%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show {
  opacity: 1
}

.hide {
  display: none;
}

.menu-background {
  background-color: black;
  border-radius: 6px;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: absolute;
}

.playlist-list, .controls-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.controls-list {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.playlist-list li {
  margin: 0 30px;
}
